.header {
  width: 100%;
  height: 6rem;
  background-color: var(--color-grey-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header li {
  position: relative;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin: 0 var(--size-2);
  z-index: 1;
  display: grid;
  place-items: center;
  background-color: var(--color-grey-900);
}
.header li::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsl(31, 59%, 40%), hsl(187, 59%, 40%));
  border-radius: 0.5rem;
  opacity: 0;
  transition: color 350ms, opacity 200ms, transform 250ms ease-in-out;
}

.header li:hover::after,
.header li:focus::after {
  opacity: 0.5;
  transform: scale(1.1);
}

.header a {
  color: var(--color-grey-300);
  font-size: var(--size-4);
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--color-grey-100);
  font-weight: bolder;
}

@media (min-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }

  .header a {
    font-size: var(--size-5);
  }
}
